mixin video(thumbnail, views)
  .video__box
    a(href="#").video-player
      img(src= thumbnail, alt="").video-player__thumbnail
      .video-player__icon
    p.video__views-text 
      | １か月間で 
      span.video__views-amount= views
      |  回再生！

mixin dialogue(modifier, text)
  .features__dialogue-bubble(class= modifier)
    p.features__dialogue-bubble-text!= text

mixin features(icon, text)
  .features__offer-circle
    img(src= icon, alt="").features__offer-icon
    span.features__offer-text= text

mixin call-to-action(headline, text, dialogue, btnText)
  section.main__section.call-to-action.skew
    .call-to-action__container.skew__remove-skew
      h2.call-to-action__headline= headline
      p.call-to-action__text!= text
      .call-to-action__bottom-container
        .call-to-action__dialogue 
          span.call-to-action__dialogue-text!= dialogue
        button.call-to-action__btn
          img(src="img/icons/plane-icon-pink.svg", alt="").call-to-action__btn-icon 
          span.call-to-action__btn-text= btnText

mixin pr-points(sectionModifier, bulletModifier, image, heading, paragraph)
  .pr-points__section(class= sectionModifier)
    .pr-points__image-wrapper
      img(src= image, alt="").pr-points__image
    .pr-points__text-container
      .pr-points__heading-container
        .pr-points__bullet(class= bulletModifier)
        h2.pr-points__heading= heading
      p.pr-points__paragraph!= paragraph