mixin video(thumbnail, views)
  .video__box
    a(href="#").video-player
      img(src= thumbnail, alt="").video-player__thumbnail
      .video-player__icon
    p.video__views-text 
      | １か月間で 
      span.video__views-amount= views
      |  回再生！

mixin dialogue(modifier, text)
  .features__dialogue-bubble(class= modifier)
    p.features__dialogue-bubble-text!= text

mixin features(icon, text)
  .features__offer-circle
    img(src= icon, alt="").features__offer-icon
    span.features__offer-text= text

mixin pr-points(sectionModifier, bulletModifier, image, heading, paragraph)
  .pr-points__section(class= sectionModifier)
    img(src= image, alt="").pr-points__image
    .pr-points__text-container
      .pr-points__heading-container
        .pr-points__bullet(class= bulletModifier)
        h2.pr-points__heading= heading
      p.pr-points__paragraph!= paragraph